<!DOCTYPE html>
<html>
  <head>
    <title>IuManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash[:success] %>
      <p class="notice"><%= flash[:success] %></p>
    <% end %>
    <% if current_user %>
      <%= nav_bar fixed: :top, brand: "Home" do %>
        <%= menu_group do %>
          <%= menu_item "Teachers", teachers_path %>
          <%= menu_item "Students", students_path %>
          <%= menu_item "Courses", courses_path %>
        <% end %>
          <%= link_to "Account", edit_user_path(current_user), class: "btn btn-primary logout-btn" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger logout-btn" %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
